@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: "RetroVintage";
  src: url(../../fonts/RetroVintage-Regular.otf);
}
h1 {
  color: rgb(223, 10, 10);
  font-family: RetroVintage;
}

h2 {
  color: rgb(223, 10, 10);
  font-family: RetroVintage;
}

h3 {
  color: rgb(223, 10, 10);
  font-family: RetroVintage;
}

h4 {
  color: rgb(223, 10, 10);
  font-family: RetroVintage;
}

h5 {
  color: rgb(223, 10, 10);
  font-family: RetroVintage;
}

h6 {
  color: rgb(223, 10, 10);
  font-family: RetroVintage;
}

/* Fondo y letras*/
body {
  background-color: rgb(226, 226, 226);
  font-family: "Roboto Slab", sans-serif;
  overflow-x: hidden;
}

/* Parte de la Nav*/
#menu a {
  font-size: 15px;
  font-weight: lighter;
  color: rgb(255, 0, 0);
}

/* Nav*/
.navbar {
  padding: 30px;
  font-size: 18px;
}
.navbar img {
  width: 100px;
}
.navbar .navbar-nav {
  gap: 40px;
}

/* Sección con contenido del sitio Index*/
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container .item {
  text-align: center;
  margin: 0 40px;
}
.container .item .image {
  width: 150px;
}
.container .item .image1 {
  width: 150px;
  height: 100px;
}

/* Sección Seguinos*/
.follow-us {
  text-align: center;
  padding: 30px;
}
.follow-us .subrayado {
  text-decoration: underline;
  font-family: RetroVintage;
  color: rgb(223, 10, 10);
}
.follow-us .social-links {
  list-style: none;
  padding: 0;
}
.follow-us .social-links li {
  display: inline;
  margin: 0 10px;
}
.follow-us .social-links img {
  width: 40px;
  height: 50px;
}

/* Footer */
footer {
  background-color: rgba(255, 0, 0, 0.295);
  color: black;
  text-align: center;
  padding: 10px;
}
footer p {
  margin: 0;
}

/* Contacto pag*/
.icons .icon-tabler-phone-calling {
  margin-right: 10px;
  color: red;
}
.icons .icon-tabler-mail-filled {
  margin-right: 10px;
  color: red;
}

.phone {
  color: red;
  margin-right: 10px;
}

.mail {
  color: red;
  margin-right: 10px;
}

.subrayado-contacto {
  text-decoration: underline;
  text-align: center;
}

.contenedor-formulario {
  display: flex;
}
.contenedor-formulario .contact {
  margin: 20px;
}

/* Nosotros pag*/
.bi-person-circle {
  margin-right: 10px;
  color: red;
}

/*Seccion Rutinas y Nutricion*/
.titulo {
  text-align: center;
  padding: 8px;
}

.texto {
  margin: auto;
  text-align: center;
  max-width: 150ch;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.texto1 {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.imagen {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.img1 {
  max-height: 300px;
}

.img2 {
  max-height: 450px;
}

.principal {
  padding: 10px;
}
.principal .listas li {
  margin: 10px;
}
.principal .listas span {
  font-weight: bold;
}
.principal .linknutricion a {
  text-decoration: none;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

.cardio {
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline;
}

.cardiotext {
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
