@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Fondo y letras*/
body{
    background-color: rgb(226, 226, 226);
    font-family: "Roboto Slab", sans-serif;
    overflow-x: hidden;
}

/* Parte de la Nav*/
#menu a{
    font-size: px;
    font-weight: lighter;
    color: rgb(255, 0, 0);
}

/*Letras*/
h1{
    color: rgb(223, 10, 10);
    font-family: RetroVintage;
}

h3{
    color: rgb(223, 10, 10);
    font-family: RetroVintage;
}

@font-face {
    font-family: "RetroVintage";
    src: url(../fonts/RetroVintage-Regular.otf);
}

/* Nav*/
.nav-foto img{
    width: 100px;
}
.navbar-nav{
    gap: 40px;
    
}
.navbar {
    height: 80px;
    padding: 10px 20px;
    font-size: 18px;
  }




/* Sección con contenido del sitio Index*/

.container {
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
}

.item {
    text-align: center;
    margin: 0 40px;
}

.image {
    width: 150px; 
}

.image1{
    width: 150px;
    height: 100px;
}


/* Sección Seguinos*/ 
.follow-us {
    text-align: center;
    padding: 30px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 50px;
}

.subrayado{
    text-decoration: underline;
    font-family: RetroVintage;
    color:rgb(223, 10, 10);
}


/* Footer */
footer {
    background-color: rgba(255, 0, 0, 0.295);
    color: black;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

/* Contacto pag*/
.icon-tabler-phone-calling{
    margin-right: 10px;
    color: red; 
}

.icon-tabler-mail-filled{
    margin-right: 10px;
    color: red;
}

.subrayado-contacto{
    text-decoration: underline;
}

/* Nosotros pag*/
.bi-person-circle{
    margin-right: 10px;
    color: red;
}