@import "./partials/fuentes";
@import "./partials/variables";
@import "./partials/bucles";

/* Fondo y letras*/
body{
    background-color: rgb(226, 226, 226);
    font-family: "Roboto Slab", sans-serif;
    overflow-x: hidden;
}

/* Parte de la Nav*/
#menu a{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(255, 0, 0);
}

/* Nav*/
.navbar {
    height: 80px;
    padding: 10px 20px;
    font-size: 18px;
    .nav-foto img{
        width: 100px;
    }
    .navbar-nav{
        gap: 40px;
        
    }
  }

  /* Sección con contenido del sitio Index*/

  .container {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    .item {
        text-align: center;
        margin: 0 40px;
        .image {
            width: 150px; 
        }
        
        .image1{
            width: 150px;
            height: 100px;
        }
    } 
}


/* Sección Seguinos*/ 
.follow-us {
    text-align: center;
    padding: 30px;
    .subrayado{
        text-decoration: underline;
        font-family: RetroVintage;
        color:rgb(223, 10, 10);
        
    }
    .social-links {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            margin: 0 10px;
        }
        img {
            width: 40px;
            height: 50px;
        }
    }
}

/* Footer */
footer {
    background-color: rgba(255, 0, 0, 0.295);
    color: black;
    text-align: center;
    padding: 10px;
    p {
        margin: 0;
    }
}


/* Contacto pag*/

.icons{
    .icon-tabler-phone-calling{
        margin-right: 10px;
        color: red; 
    }
    
    .icon-tabler-mail-filled{
        margin-right: 10px;
        color: red;
    }
}

.subrayado-contacto{
    text-decoration: underline;
}


/* Nosotros pag*/
.bi-person-circle{
    margin-right: 10px;
    color: red;
}

@import "./partials/queries"